.container {
  height: 100vh;
}

.container form {
  height: inherit;
}

.container input[type='number']::-webkit-inner-spin-button,
.contaner input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container input {
  width: 80px;
}

.colInputHypot label {
  margin: 0;
}

.colInputHypot > div {
  margin-top: -4rem;
  margin-left: -4.8em;
}

@media (max-width: 600px) {
  .colInputHypot > div {
    margin-left: -3.8em;
  }
}

.container button {
  background: var(--green);
  width: 380px;
  height: 50px;
  border: none;

  transition: filter 0.2s;
}

.container button:hover {
  background: var(--green);
  filter: brightness(0.9);
}

.container button:active {
  background-color: var(--green) !important;
  filter: brightness(1);
}

.container button:focus {
  background-color: var(--green);
  filter: brightness(1);
}
