.container {
  background: var(--gray-line);
  border-radius: 6px;

  max-width: 950px;
  height: 75%;
  overflow: auto;
  overflow-x: hidden;
}

.container > div:first-child {
  background: var(--blue-dark);
  border-radius: 6px;
}

.container > div:last-child {
  height: 85%;
}
